@use "variables" as *;

html, body {
    background-color: $color-black-4;
    min-height: 100vh !important;
}

#main {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding: .5em 1em;
}

main {
    padding: .5em 1em;
}


/** Fullscreen **/
@media(min-width: $width-tablet) {
    header {
        padding: 1em 2em;
        margin-top: 0 !important;
    }

    main {
        padding: 1em 2em;
    }
}
