@use "variables" as *;

body {
    background-color: $color-black-4;
}

header {
    padding: .5em 1em;
}

main {
    padding: .5em 1em;
}


/** Fullscreen **/
@media(min-width: $width-tablet) {
    header {
        padding: 1em 2em;
        margin-top: 1em;
    }

    main {
        padding: 1em 2em;
    }
}
