@use "variables" as *;

header {
    nav {
        &.nav-pages {
            display: flex;

            div.availability {
                margin-left: auto;
            }

            .nav-list {
                display: flex;

                .nav-item {
                    a {
                        color: $color-orange;

                        &:hover {
                            color: $color-orange-2 !important
                        }

                        &.active {
                            color: $color-yellow;
                            font-weight: bold;

                            &:hover {
                                color: $color-yellow !important;
                            }
                        }
                    }

                    &:not(:last-child) {
                        &:after {
                            margin: 0 1em;
                            content: "/";
                            color: $color-red;
                        }
                    }
                }
            }

        }

        &.nav-socials {
            display: flex;

            a {
                color: $color-orange;
                display: inline-block;
                width: 2em;
                height: 2em;

                &:not(:last-child) {
                    margin-right: 1em;
                }

                &:last-child {
                    margin-left: auto;
                }

                &:hover {
                    color: $color-pink !important;
                }
            }
        }
    }

    #nav-socials-info {
        color: $color-ash !important;
        font-size: .8em;
        font-style: italic;
        min-height: 4em;
        margin-top: .4em;
    }
}

a {
    color: $color-ash;

    &:hover {
        color: $color-green-2 !important
    }
}
