@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "JetBrains Mono", monospace;
}

h1, h2, h3, h4, h5, h6, p, li, td, th {
    color: $color-white;
}

h1 {
    font-weight: lighter;
    font-size: 3rem;
}

h2 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $color-blue-2;
}

h3 {
    color: $color-violet;
    opacity: .8;
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

p {
    font-size: 1em;
    margin-bottom: 1rem;
}