$color-black-0: #0d0c0c;
$color-black-1: #12120f;
$color-black-2: #1d1c19;
$color-black-3: #181616;
$color-black-4: #282727;
$color-black-5: #393836;
$color-black-6: #625e5a;

$color-white: #c5c9c5;
$color-green: #87a987;
$color-green-2: #8a9a7b;
$color-pink: #a292a3;
$color-orange: #b6927b;
$color-orange-2: #b98d7b;
$color-gray: #a6a69c;
$color-gray-2: #9e9b93;
$color-gray-3: #7a8382;
$color-blue-2: #8ba4b0;
$color-violet: #8992a7;
$color-red: #c4746e;
$color-aqua: #8ea4a2;
$color-ash: #737c73;
$color-teal: #949fb5;
$color-yellow: #c4b28a;

$width-desktop: 1280px;
$width-tablet: 768px;
